<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sevenelite.billbo.department.model.dao.DepartmentMapper">
	
	<resultMap type="com.sevenelite.billbo.department.model.dto.DepartmentSpotDTO" id="deptInfoSpot">
		<id property="spotRnum" column="RNUM"/>
		<result property="spotCode" column="SPOT_CODE"/>
		<result property="spotName" column="SPOT_NAME"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="modifySpotDate" column="MODIFY_SPOT_DATE"/>
	</resultMap>
	
	<resultMap type="com.sevenelite.billbo.department.model.dto.DepartmentDTO" id="ALlmemberResultMap">
	<id property="no" column="MEMBER_NO"/>
	<result property="memberName" column="MEMBER_NAME"/>
	<result property="memberpwd" column="MEMBER_PWD"/>
	<result property="email" column="EMAIL"/>
	<result property="phone" column="PHONE"/>
	<result property="enrollDate" column="ENROLL_DATE"/>
	<result property="deptCode" column="DEPT_CODE"/>
	<result property="deptName" column="DEPT_NAME"/>
	<result property="address" column="MEMBER_ADDRESS"/>
	<result property="fileNo" column="FILE_ATTACHMENT_NO"/>
	<result property="attachmentPath" column="FILE_ATTACHMENT_PATH"/>
	<result property="originalName" column="ORIGINAL_NAME"/>
	<result property="savedName" column="SAVED_NAME"/>
	<result property="attachmentType" column="ATTACHMENT_TYPE"/>
	<result property="attchmentTypeNo" column="ATTACHMENT_TYPE_NO"/>
	<result property="attachmentDate" column="ATTACHMENT_DATE"/>
	<result property="spotName" column="SPOT_NAME"/>
    </resultMap>
	
	
	<select id="selectBusinessDepartmentList" resultMap="ALlmemberResultMap">
  
  SELECT
         *
         FROM
         (
         SELECT * FROM
         (
         SELECT
       A.MODIFY_DEPT_NO
     , A.MODIFY_DEPT_DATE
     , A.MEMBER_NO
     , B.DEPT_CODE
     , ROW_NUMBER() OVER(PARTITION BY A.MEMBER_NO ORDER BY A.MODIFY_DEPT_NO DESC) 순번
     , B.DEPT_NAME
      , W.SPOT_NAME
	FROM BB_MODIFY_DEPT A
    JOIN BB_DEPT B ON (A.DEPT_CODE = B.DEPT_CODE)
    JOIN BB_MEMBER S ON (A.MEMBER_NO = S.MEMBER_NO)
     JOIN BB_MODIFY_SPOT T ON(S.MEMBER_NO = T.MEMBER_NO)
    JOIN BB_SPOT W ON (T.SPOT_CODE = W.SPOT_CODE)
    )
    WHERE 순번 =1 ) C
    JOIN BB_MEMBER_INFO D ON (C.MEMBER_NO = D.MEMBER_NO)
    JOIN BB_MEMBER E ON( C.MEMBER_NO = E.MEMBER_NO)
    JOIN BB_MODIFY_SPOT F ON ( D.MEMBER_NO = F.MEMBER_NO)
    WHERE C.DEPT_CODE = 'A2'
    
    </select>
    
    	<select id="selectManagementDepartmentList" resultMap="ALlmemberResultMap" parameterType="DepartmentDTO">
  
  SELECT
         *
         FROM
         (
         SELECT * FROM
         (
         SELECT
       A.MODIFY_DEPT_NO
     , A.MODIFY_DEPT_DATE
     , A.MEMBER_NO
     , B.DEPT_CODE
     , ROW_NUMBER() OVER(PARTITION BY A.MEMBER_NO ORDER BY A.MODIFY_DEPT_NO DESC) 순번
     , B.DEPT_NAME
      , W.SPOT_NAME
	FROM BB_MODIFY_DEPT A
    JOIN BB_DEPT B ON (A.DEPT_CODE = B.DEPT_CODE)
    JOIN BB_MEMBER S ON (A.MEMBER_NO = S.MEMBER_NO)
     JOIN BB_MODIFY_SPOT T ON(S.MEMBER_NO = T.MEMBER_NO)
    JOIN BB_SPOT W ON (T.SPOT_CODE = W.SPOT_CODE)
    )
    WHERE 순번 =1 ) C
    JOIN BB_MEMBER_INFO D ON (C.MEMBER_NO = D.MEMBER_NO)
    JOIN BB_MEMBER E ON( C.MEMBER_NO = E.MEMBER_NO)
    JOIN BB_MODIFY_SPOT F ON ( D.MEMBER_NO = F.MEMBER_NO)
    WHERE C.DEPT_CODE = 'B2'      
    
    </select>
    
    	<select id="selectProductionDepartmentList" resultMap="ALlmemberResultMap" parameterType="DepartmentDTO">
  
  SELECT
         *
         FROM
         (
         SELECT * FROM
         (
         SELECT
       A.MODIFY_DEPT_NO
     , A.MODIFY_DEPT_DATE
     , A.MEMBER_NO
     , B.DEPT_CODE
     , ROW_NUMBER() OVER(PARTITION BY A.MEMBER_NO ORDER BY A.MODIFY_DEPT_NO DESC) 순번
     , B.DEPT_NAME
      , W.SPOT_NAME
	FROM BB_MODIFY_DEPT A
    JOIN BB_DEPT B ON (A.DEPT_CODE = B.DEPT_CODE)
    JOIN BB_MEMBER S ON (A.MEMBER_NO = S.MEMBER_NO)
     JOIN BB_MODIFY_SPOT T ON(S.MEMBER_NO = T.MEMBER_NO)
    JOIN BB_SPOT W ON (T.SPOT_CODE = W.SPOT_CODE)
    )
    WHERE 순번 =1 ) C
    JOIN BB_MEMBER_INFO D ON (C.MEMBER_NO = D.MEMBER_NO)
    JOIN BB_MEMBER E ON( C.MEMBER_NO = E.MEMBER_NO)
    JOIN BB_MODIFY_SPOT F ON ( D.MEMBER_NO = F.MEMBER_NO)
    WHERE C.DEPT_CODE = 'C2'      
    
    </select>
    
    <select id="selectEducationDepartmentList" resultMap="ALlmemberResultMap" parameterType="DepartmentDTO">
  
  SELECT
         *
         FROM
         (
         SELECT * FROM
         (
         SELECT
       A.MODIFY_DEPT_NO
     , A.MODIFY_DEPT_DATE
     , A.MEMBER_NO
     , B.DEPT_CODE
     , ROW_NUMBER() OVER(PARTITION BY A.MEMBER_NO ORDER BY A.MODIFY_DEPT_NO DESC) 순번
     , B.DEPT_NAME
      , W.SPOT_NAME
	FROM BB_MODIFY_DEPT A
    JOIN BB_DEPT B ON (A.DEPT_CODE = B.DEPT_CODE)
    JOIN BB_MEMBER S ON (A.MEMBER_NO = S.MEMBER_NO)
     JOIN BB_MODIFY_SPOT T ON(S.MEMBER_NO = T.MEMBER_NO)
    JOIN BB_SPOT W ON (T.SPOT_CODE = W.SPOT_CODE)
    )
    WHERE 순번 =1 ) C
    JOIN BB_MEMBER_INFO D ON (C.MEMBER_NO = D.MEMBER_NO)
    JOIN BB_MEMBER E ON( C.MEMBER_NO = E.MEMBER_NO)
    JOIN BB_MODIFY_SPOT F ON ( D.MEMBER_NO = F.MEMBER_NO)
    WHERE C.DEPT_CODE = 'D2'      
    
    </select>
    
    <select id="selectEmployeeDepartmentList" resultMap="ALlmemberResultMap" parameterType="DepartmentDTO">
  
  SELECT
         *
         FROM
         (
         SELECT * FROM
         (
         SELECT
       A.MODIFY_DEPT_NO
     , A.MODIFY_DEPT_DATE
     , A.MEMBER_NO
     , B.DEPT_CODE
     , ROW_NUMBER() OVER(PARTITION BY A.MEMBER_NO ORDER BY A.MODIFY_DEPT_NO DESC) 순번
     , B.DEPT_NAME
      , W.SPOT_NAME
	FROM BB_MODIFY_DEPT A
    JOIN BB_DEPT B ON (A.DEPT_CODE = B.DEPT_CODE)
    JOIN BB_MEMBER S ON (A.MEMBER_NO = S.MEMBER_NO)
     JOIN BB_MODIFY_SPOT T ON(S.MEMBER_NO = T.MEMBER_NO)
    JOIN BB_SPOT W ON (T.SPOT_CODE = W.SPOT_CODE)
    )
    WHERE 순번 =1 ) C
    JOIN BB_MEMBER_INFO D ON (C.MEMBER_NO = D.MEMBER_NO)
    JOIN BB_MEMBER E ON( C.MEMBER_NO = E.MEMBER_NO)
    JOIN BB_MODIFY_SPOT F ON ( D.MEMBER_NO = F.MEMBER_NO)
    WHERE C.DEPT_CODE = 'E1'      
    
    </select>

     <select id="detailEmployeeProfile" resultMap="ALlmemberResultMap" parameterType="DepartmentDTO">
       SELECT 
        E.MEMBER_NO,
        E.MEMBER_NAME,
        E.EMAIL,
        E.PHONE,
        D.ENROLL_DATE,
        D.MEMBER_ADDRESS,
        C.DEPT_NAME,
        F.FILE_ATTACHMENT_NO,
        F.FILE_ATTACHMENT_PATH,
        F.ORIGINAL_NAME,
        F.SAVED_NAME,
        F.ATTACHMENT_TYPE,
        F.ATTACHMENT_DATE,
        F.ATTACHMENT_TYPE_NO
        FROM(               
             SELECT
                  *
                FROM
           
         (
         SELECT
       A.MODIFY_DEPT_NO
     , A.MODIFY_DEPT_DATE
     , A.MEMBER_NO
     , B.DEPT_CODE
     , ROW_NUMBER() OVER(PARTITION BY A.MEMBER_NO ORDER BY A.MODIFY_DEPT_DATE DESC) 순번
     , B.DEPT_NAME
	FROM BB_MODIFY_DEPT A
    JOIN BB_DEPT B ON (A.DEPT_CODE = B.DEPT_CODE)
    )
    WHERE 순번 =1 ) C
    JOIN BB_MEMBER_INFO D ON (C.MEMBER_NO = D.MEMBER_NO)
    JOIN BB_MEMBER E ON( C.MEMBER_NO = E.MEMBER_NO)
    JOIN BB_FILEATTACHMENT F ON (E.MEMBER_NO = F.MEMBER_NO)
    WHERE E.MEMBER_NO = #{no}
</select> 

</mapper>