<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 	<typeAliases>
 		<typeAlias alias="MemberDTO" type="com.sevenelite.billbo.member.model.dto.MemDTO"/>
 		<typeAlias alias="MemBbDTO" type="com.sevenelite.billbo.member.model.dto.MemBbDTO"/>
 		<typeAlias alias="RoleDTO" type="com.sevenelite.billbo.member.model.dto.RoleDTO"/>
 		<typeAlias alias="WorkDTO" type="com.sevenelite.billbo.workhour.work.model.dto.WorkDTO"/> 
 		<typeAlias alias="workStatusDTO" type="com.sevenelite.billbo.workhour.work.model.dto.WorkStatusDTO"/> 
 		<typeAlias alias="WorkTypeDTO" type="com.sevenelite.billbo.workhour.work.model.dto.WorkTypeDTO"/> 
 		<typeAlias alias="ArmyDTO" type="com.sevenelite.billbo.profile.model.dto.ArmyDTO"/>
 		<typeAlias alias="MemberInfoDTO" type="com.sevenelite.billbo.profile.model.dto.MemberInfoDTO"/>
 		<typeAlias alias="SpotDTO" type="com.sevenelite.billbo.profile.model.dto.SpotDTO"/>
 		<typeAlias alias="DeptDTO" type="com.sevenelite.billbo.profile.model.dto.DeptDTO"/>
 		<typeAlias alias="CareerDTO" type="com.sevenelite.billbo.profile.model.dto.CareerDTO"/>
 		<typeAlias alias="BonusDTO" type="com.sevenelite.billbo.profile.model.dto.BonusDTO"/>
 		<typeAlias alias="CertificateDTO" type="com.sevenelite.billbo.profile.model.dto.CertificateDTO"/>
 		<typeAlias alias="FinalAcademicDTO" type="com.sevenelite.billbo.profile.model.dto.FinalAcademicDTO"/>
 		<typeAlias alias="FamilyDTO" type="com.sevenelite.billbo.profile.model.dto.FamilyDTO"/>
 		<typeAlias alias="LicenseDTO" type="com.sevenelite.billbo.profile.model.dto.LicenseDTO"/>
		<typeAlias alias="StatusAndWorkDTO" type="com.sevenelite.billbo.workhour.work.model.dto.StatusAndWorkDTO"/>
 		
 		<!-- <typeAlias alias="NoticeBoardDTO" type="com.sevenlite.bilbo.noticeboard.model.dto.NoticeBoardDTO"/> -->
 		<!-- <typeAlias alias="BoardDTO" type="com.sevenelite.billbo.board.model.dto.BoardDTO"/> -->
 		
 		<typeAlias alias="NoticeBoardDTO" type="com.sevenelite.billbo.noticeboard.model.dto.NoticeBoardDTO"/>
 		 <typeAlias alias="BoardDTO" type="com.sevenelite.billbo.board.model.dto.BoardDTO"/>
 	</typeAliases>
 	
 </configuration>