<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="com.sevenelite.billbo.performance.model.dao.PerMapper">
	
<resultMap type="com.sevenelite.billbo.performance.model.dto.PerformanceListDTO" id="perResultMap">
	<id property="no" column="MEMEBER_NO"/>
	<result property="name" column="MEMBER_NAME"/>
	<result property="spot" column="SPOT_NAME"/>
	<result property="dept" column="DEPT_NAME"/>
	<result property="phone" column="PHONE"/>
	<result property="email" column="EMAIL"/>
</resultMap>

<select id="selectPer" resultMap="perResultMap">
      SELECT *
	FROM 
	(
	SELECT *
	FROM
	(
	SELECT 
       A.MODIFY_DEPT_NO
     , A.MODIFY_DEPT_DATE
     , A.MEMBER_NO
     , B.DEPT_CODE
     , ROW_NUMBER() OVER(PARTITION BY A.MEMBER_NO ORDER BY A.MODIFY_DEPT_DATE DESC) 순번
     , B.DEPT_NAME
	FROM BB_MODIFY_DEPT A
	JOIN BB_DEPT B ON (A.DEPT_CODE = B.DEPT_CODE)
	) 
	WHERE 순번 = 1) C
	JOIN BB_MEMBER D ON (C.MEMBER_NO = D.MEMBER_NO)
	JOIN BB_MODIFY_SPOT E ON ( C.MEMBER_NO = E.MEMBER_NO)
	JOIN BB_SPOT F ON ( F.SPOT_CODE = E.SPOT_CODE)
</select>
</mapper>