<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sevenelite.billbo.noticeboard.model.dao.NoticeBoardMapper">

 <resultMap type="com.sevenelite.billbo.noticeboard.model.dto.NoticeBoardDTO" id="boardResultMap">
 	<id property="no" column="BOARD_NO"/>
 	<result property="boardType" column="BOARD_TYPE"/>
 	<result property="title" column="BOARD_TITLE"/>
 	<result property="body" column="BOARD_BODY"/>
 	<result property="writer" column="BOARD_WRITER"/>
 	<result property="status" column="BOARD_STATUS"/>
 	<result property="fileAttachment" column="BOARD_FILEATTACHMENT"/>
 	<result property="count" column="BOARD_COUNT"/>
 	<result property="enrollDate" column="BOARD_ENROLL_DATE"/>
 	<result property="memberNo" column="MEMBER_NO"/>
 </resultMap>
 
 <select id="selectNotice" resultMap="boardResultMap" parameterType="NoticeBoardDTO">
 SELECT
        A.BOARD_NO
      , A.BOARD_TITLE
      , A.BOARD_WRITER
      , A.BOARD_COUNT
      , A.BOARD_ENROLL_DATE
      , A.MEMBER_NO  
  FROM BB_BOARD A
  WHERE A.BOARD_TYPE = '공지'
 </select>
<insert id="insertNotice" parameterType="NoticeBoardDTO">
  INSERT 
  	INTO BB_BOARD A
  	(   
  		A.BOARD_NO
  	 ,	A.BOARD_TITLE
  	 ,	A.BOARD_TYPE
  	 ,	A.BOARD_BODY
  	 ,	A.BOARD_WRITER
  	 ,  A.BOARD_STATUS
  	 ,  A.BOARD_FILEATTACHMENT
  	 ,  A.BOARD_COUNT
  	 ,  A.BOARD_ENROLL_DATE
  	 ,  A.MEMBER_NO
  	);
  	VALUES
  	(
  		SEQ_BOARD_NO.NEXTVAL, #{BOARD_TYPE}, #{BOARD_TITLE}, #{BOARD_BODY}, #{BOARD_WRITER}, 'Y',
  		NULL, 1, SYSDATE, 5
  	)
 </insert> 
 
 </mapper>