<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sevenelite.billbo.approval.model.dao.ApprovalMapper">

	<resultMap type="com.sevenelite.billbo.approval.model.dto.ApproDeptDTO" id="approDept">
		<id property="deptRnum" column="RNUM"/>
		<result property="deptCode" column="DEPT_CODE"/>
		<result property="deptName" column="DEPT_NAME"/>
		<result property="upper" column="DEPT_UPPER"/>
		<result property="level" column="DEPT_LEVEL"/>
		<result property="modifyDeptDate" column="MODIFY_DEPT_DATE"/>
		<result property="memberNoDept" column="MEMBER_NO"/>
		<result property="memberNameDept" column="MEMBER_NAME"/>
	</resultMap>
	
	<resultMap type="com.sevenelite.billbo.approval.model.dto.ApproSpotDTO" id="approSpot">
		<id property="spotRnum" column="RNUM"/>
		<result property="spotCode" column="SPOT_CODE"/>
		<result property="spotName" column="SPOT_NAME"/>
		<result property="modifySpotDate" column="MODIFY_SPOT_DATE"/>
		<result property="memberNoSpot" column="MEMBER_NO"/>
		<result property="memberNameSpot" column="MEMBER_NAME"/>
	</resultMap>
	
	<resultMap type="com.sevenelite.billbo.approval.model.dto.FormVacationDTO" id="vacation">
		<id property="no" column="FORM_VACATION_NO"/>
		<result property="annualType" column="ANNUAL_TYPE"/>
		<result property="startDate" column="VACATION_START"/>
		<result property="endDate" column="VACATION_END"/>
		<result property="halfDayPoint" column="HALF_DAY_POINT"/>
		<result property="annualCount" column="USED_ANNUAL_COUNT"/>
		<result property="annualReason" column="USED_ANNUAL_REASON"/>
		<result property="paymentNo" column="PAYMENT_NO"/>
		<result property="memberno" column="MEMBER_NO"/>
	</resultMap>

	<resultMap type="com.sevenelite.billbo.approval.model.dto.ApproDraftingDTO" id="draft">
		<id property="draftNo" column="DRAFTING_NO"/>
		<result property="draftDateStart" column="DRAFTING_DATE"/>
		<result property="draftDateComplete" column="DRAFTING_COMPLETE_DATE"/>
		<result property="completeStatus" column="DRAFTING_COMPLETE_STATUS"/>
		<result property="docuName" column="DRAFTING_DOCUMENTS_NAME"/>
		<result property="docuContents" column="DRAFTING_DOCUMENTS_CONTENTS"/>
		<result property="emergency" column="DRAFTING_EMERGENCY"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="paymentNo" column="PAYMENT_NO"/>
	</resultMap>
	
	<resultMap type="com.sevenelite.billbo.member.model.dto.MemBbDTO" id="memDTO">
		<id property="no" column="MEMBER_NO" />
		<result property="name" column="MEMBER_NAME" />
		<result property="pwd" column="MEMBER_PWD" />
		<result property="email" column="EMAIL" />
		<result property="phone" column="PHONE" />
	</resultMap>
	
	<resultMap type="com.sevenelite.billbo.approval.model.dto.CheckApproveDTO" id="checkAppDTO">
		<id property="appCode" column="APPROVE_CODE" />
		<result property="appStatus" column="APPROVE_STATUS" />
		<result property="DRAFT_NO" column="DRAFTING_NO" />
		<result property="LINE_NO" column="LINE_NO" />
	</resultMap>
	
	<resultMap type="com.sevenelite.billbo.approval.model.dto.ListDraftingDTO" id="listDrafting">
		<id property="draftNo" column="DRAFTING_NO" />
		<result property="draftDate" column="DRAFTING_DATE" />
		<result property="draftCompleteDate" column="DRAFTING_COMPLETE_DATE" />
		<result property="draftCompleteStatus" column="DRAFTING_COMPLETE_STATUS" />
		<result property="docuname" column="DRAFTING_DOCUMENTS_NAME" />
		<result property="docuContents" column="DRAFTING_DOCUMENTS_CONTENTS" />
		<result property="emergency" column="DRAFTING_EMERGENCY" />
		<result property="paymentNo" column="PAYMENT_NO" />
		<result property="memberNo" column="MEMBER_NO" />
	</resultMap>
	
	<resultMap type="com.sevenelite.billbo.approval.model.dto.ListWaitingApprovalDTO" id="listWaitingApproval">
		<id property="lineNo" column="LINE_NO" />
		<result property="draftNo" column="DRAFTING_NO" />
		<result property="lineProcess" column="LINE_PROCESS" />
		<result property="lineBody" column="LINE_BODY" />
		<result property="pkinds" column="LINE_PKINDS" />
		<result property="thumbnail" column="LINE_THUMBNAIL" />
		<result property="lineKinds" column="LINE_KINDS" />
		<result property="deptCode" column="DEPT_CODE" />
		<result property="spotCode" column="SPOT_CODE" />
		<result property="draftDate" column="DRAFTING_DATE" />
		<result property="draftCompleteDate" column="DRAFTING_COMPLETE_DATE" />
		<result property="draftCompleteStatus" column="DRAFTING_COMPLETE_STATUS" />
		<result property="docuname" column="DRAFTING_DOCUMENTS_NAME" />
		<result property="docuContents" column="DRAFTING_DOCUMENTS_CONTENTS" />
		<result property="emergency" column="DRAFTING_EMERGENCY" />
		<result property="paymentNo" column="PAYMENT_NO" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="approveCode" column="APPROVE_CODE" />
		<result property="approveStatus" column="APPROVE_STATUS" />
		
	</resultMap>
	
	<select id="selectLoginDept" resultMap="approDept" parameterType="_int">
        SELECT
               A.RNUM
             , A.DEPT_CODE
             , A.DEPT_NAME
             , A.DEPT_UPPER
             , A.DEPT_LEVEL
             , A.MODIFY_DEPT_DATE
        FROM (SELECT ROWNUM RNUM
                   , B.DEPT_CODE
                   , B.DEPT_NAME
                   , B.DEPT_UPPER
                   , B.DEPT_LEVEL
                   , B.MODIFY_DEPT_DATE
               FROM (SELECT C.DEPT_CODE
                          , C.DEPT_NAME
                          , C.DEPT_UPPER
                          , C.DEPT_LEVEL
                          , D.MODIFY_DEPT_DATE
                       FROM BB_DEPT C
                       JOIN BB_MODIFY_DEPT D ON(C.DEPT_CODE = D.DEPT_CODE)
                      WHERE D.MEMBER_NO = #{ memberno }
                      ORDER BY MODIFY_DEPT_DATE DESC
                    ) B 
             ) A
         WHERE RNUM = 1
	</select>
	
	<select id="selectLoginSpot" resultMap="approSpot" parameterType="_int">
        SELECT
               A.RNUM
             , A.SPOT_CODE
             , A.SPOT_NAME
             , A.MODIFY_SPOT_DATE
        FROM (SELECT ROWNUM RNUM
                   , B.SPOT_CODE
                   , B.SPOT_NAME
                   , B.MODIFY_SPOT_DATE
               FROM (SELECT C.SPOT_CODE
                          , C.SPOT_NAME
                          , D.MODIFY_SPOT_DATE
                       FROM BB_SPOT C
                       JOIN BB_MODIFY_SPOT D ON(C.SPOT_CODE = D.SPOT_CODE)
                      WHERE D.MEMBER_NO = #{ memberno }
                      ORDER BY MODIFY_SPOT_DATE DESC
                    ) B 
             ) A
         WHERE RNUM = 1
	</select>
	
	<insert id="insertVacation" parameterType="FormVacationDTO">
        INSERT 
          INTO BB_FORM_VACATION A
        (
          A.FORM_VACATION_NO, A.ANNUAL_TYPE, A.VACATION_START, A.VACATION_END, A.HALF_DAY_POINT, A.USED_ANNUAL_COUNT, A.USED_ANNUAL_REASON, A.PAYMENT_NO, A.MEMBER_NO
        ) 
		VALUES
		(
		  SEQ_VACATION_NO.NEXTVAL, #{ annualType }, #{ startDate }, #{ endDate }, #{ halfDayPoint }, #{ annualCount }, #{ annualReason }, #{ paymentNo }, #{ memberno }
		)
	</insert> 

	<insert id="insertDrafting" parameterType="ApproDraftingDTO">
        INSERT 
          INTO BB_DRAFTING A
        (
          A.DRAFTING_NO, A.DRAFTING_DATE, A.DRAFTING_COMPLETE_STATUS, A.DRAFTING_DOCUMENTS_NAME, A.DRAFTING_DOCUMENTS_CONTENTS, A.DRAFTING_EMERGENCY, A.MEMBER_NO, A.PAYMENT_NO
        ) 
		VALUES
		(
		  SEQ_DRAFTING_NO.NEXTVAL, #{ draftDateStart }, #{ completeStatus }, #{ docuName }, #{ docuContents }, #{ emergency }, #{ memberNo }, #{ paymentNo }
		)
	</insert>

	<insert id="insertLineMem" parameterType="ApproLineMemDTO">
		<selectKey keyProperty="draftNo" order="BEFORE" resultType="_int">
            SELECT
                   SEQ_DRAFTING_NO.CURRVAL
              FROM DUAL    
		</selectKey>
        INSERT 
          INTO BB_LINE_MEM A
        (
          A.LINE_NO, A.DRAFTING_NO, A.LINE_BODY, A.LINE_PKINDS, A.LINE_THUMBNAIL, A.LINE_KINDS, A.DEPT_CODE, A.SPOT_CODE
        ) 
		VALUES
		(
		  SEQ_LINE_NO.NEXTVAL, #{ draftNo }, #{ lineBody }, #{ pKinds }, #{ thumbnail }, #{ lineKinds }, #{ deptCodeLine }, #{ spotCodeLine }
		)
	</insert>

	<select id="selectCheckCurrvalDraft" resultType="_int">
            SELECT
                   SEQ_DRAFTING_NO.CURRVAL as DRAFT_NO
              FROM DUAL  
	</select> 

	<insert id="insertCheckApprove" parameterType="CheckApproveDTO">
		<selectKey keyProperty="LINE_NO" order="BEFORE" resultType="_int">
            SELECT
                   SEQ_LINE_NO.CURRVAL
              FROM DUAL    
		</selectKey>
        INSERT 
          INTO BB_APPROVE A
        (
          A.APPROVE_CODE, A.APPROVE_STATUS, A.DRAFTING_NO, A.LINE_NO
        ) 
		VALUES
		(
		  SEQ_APPROVECODE_NO.NEXTVAL, #{ appStatus }, #{ DRAFT_NO }, #{ LINE_NO }
		)
	</insert>

	<select id="selectMemList" resultMap="memDTO">
        SELECT
               A.MEMBER_NO
             , A.MEMBER_NAME
             , A.MEMBER_PWD
             , A.EMAIL
             , A.PHONE
          FROM BB_MEMBER A
          JOIN BB_MODIFY_DEPT B ON(A.MEMBER_NO = B.MEMBER_NO)
          JOIN BB_MODIFY_SPOT C ON(A.MEMBER_NO = C.MEMBER_NO)
         WHERE B.DEPT_CODE IS NOT NULL
         GROUP BY (A.MEMBER_NO, A.MEMBER_NAME, A.MEMBER_PWD, A.EMAIL, A.PHONE)
         ORDER BY A.MEMBER_NO
	</select> 
	
	<select id="selectLoginDeptList" resultMap="approDept" parameterType="memDTO">
        SELECT
               A.RNUM
             , A.DEPT_CODE
             , A.DEPT_NAME
             , A.DEPT_UPPER
             , A.DEPT_LEVEL
             , A.MODIFY_DEPT_DATE
             , A.MEMBER_NO
             , A.MEMBER_NAME
        FROM (SELECT ROWNUM RNUM
                   , B.DEPT_CODE
                   , B.DEPT_NAME
                   , B.DEPT_UPPER
                   , B.DEPT_LEVEL
                   , B.MODIFY_DEPT_DATE
                   , B.MEMBER_NO
                   , B.MEMBER_NAME
               FROM (SELECT C.DEPT_CODE
                          , C.DEPT_NAME
                          , C.DEPT_UPPER
                          , C.DEPT_LEVEL
                          , D.MODIFY_DEPT_DATE
                          , E.MEMBER_NO
                          , E.MEMBER_NAME
                       FROM BB_DEPT C
                       JOIN BB_MODIFY_DEPT D ON(C.DEPT_CODE = D.DEPT_CODE)
                       JOIN BB_MEMBER E ON(D.MEMBER_NO = E.MEMBER_NO)
                      WHERE D.MEMBER_NO = #{ no }
                      ORDER BY MODIFY_DEPT_DATE DESC
                    ) B 
             ) A
         WHERE RNUM = 1
	</select>
	
	<select id="selectLoginSpotList" resultMap="approSpot" parameterType="memDTO">
        SELECT
               A.RNUM
             , A.SPOT_CODE
             , A.SPOT_NAME
             , A.MODIFY_SPOT_DATE
             , A.MEMBER_NO
             , A.MEMBER_NAME
        FROM (SELECT ROWNUM RNUM
                   , B.SPOT_CODE
                   , B.SPOT_NAME
                   , B.MODIFY_SPOT_DATE
                   , B.MEMBER_NO
                   , B.MEMBER_NAME
               FROM (SELECT C.SPOT_CODE
                          , C.SPOT_NAME
                          , D.MODIFY_SPOT_DATE
                          , E.MEMBER_NO
                          , E.MEMBER_NAME
                       FROM BB_SPOT C
                       JOIN BB_MODIFY_SPOT D ON(C.SPOT_CODE = D.SPOT_CODE)
                       JOIN BB_MEMBER E ON(D.MEMBER_NO = E.MEMBER_NO)
                      WHERE D.MEMBER_NO = #{ no }
                      ORDER BY MODIFY_SPOT_DATE DESC
                    ) B 
             ) A
         WHERE RNUM = 1
	</select>
	
	<select id="selectAllDraftingList" resultMap="listDrafting" parameterType="memDTO">
        SELECT
               B.DRAFTING_NO
             , B.DRAFTING_DATE
             , B.DRAFTING_COMPLETE_DATE
             , B.DRAFTING_COMPLETE_STATUS
             , B.DRAFTING_DOCUMENTS_NAME
             , B.DRAFTING_DOCUMENTS_CONTENTS
             , B.DRAFTING_EMERGENCY
             , B.PAYMENT_NO
             , B.MEMBER_NO
          FROM BB_DRAFTING B
         WHERE B.MEMBER_NO = #{ no }
         ORDER BY B.DRAFTING_NO DESC
	</select>
	
	<select id="selectWaitingApproval" resultMap="listWaitingApproval" parameterType="ListWaitingApprovalDTO">
        SELECT
               A.LINE_NO
             , A.DRAFTING_NO
             , A.LINE_PROCESS
             , A.LINE_BODY
             , A.LINE_PKINDS
             , A.LINE_THUMBNAIL
             , A.LINE_KINDS
             , A.DEPT_CODE
             , A.SPOT_CODE
             , B.DRAFTING_DATE
             , B.DRAFTING_COMPLETE_DATE
             , B.DRAFTING_COMPLETE_STATUS
             , B.DRAFTING_DOCUMENTS_NAME
             , B.DRAFTING_DOCUMENTS_CONTENTS
             , B.DRAFTING_EMERGENCY
             , B.PAYMENT_NO
             , B.MEMBER_NO
             , C.APPROVE_CODE
             , C.APPROVE_STATUS
          FROM BB_LINE_MEM A
          JOIN BB_DRAFTING B ON(A.DRAFTING_NO = B.DRAFTING_NO)
          JOIN BB_APPROVE C ON(A.LINE_NO = C.LINE_NO)
         WHERE A.DEPT_CODE = #{ deptCode }
           AND A.SPOT_CODE = #{ spotCode }
           AND C.APPROVE_STATUS = #{ draftCompleteStatus }
         ORDER BY A.LINE_NO DESC
	</select>
	
</mapper>