<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sevenelite.billbo.allmember.model.dao.AllMemberMapper">

<resultMap type="com.sevenelite.billbo.allmember.model.dto.MemberAndMemberInfoAndDeptAndModifyDeptDTO" id="ALlmemberResultMap">
	<id property="no" column="MEMBER_NO"/>
	<result property="memberName" column="MEMBER_NAME"/>
	<result property="memberpwd" column="MEMBER_PWD"/>
	<result property="email" column="EMAIL"/>
	<result property="phone" column="PHONE"/>
	<result property="enrollDate" column="ENROLL_DATE"/>
	<result property="deptCode" column="DEPT_CODE"/>
	<result property="deptName" column="DEPT_NAME"/>
	<result property="address" column="MEMBER_ADDRESS"/>
	<result property="fileNo" column="FILE_ATTACHMENT_NO"/>
	<result property="attachmentPath" column="FILE_ATTACHMENT_PATH"/>
	<result property="originalName" column="ORIGINAL_NAME"/>
	<result property="savedName" column="SAVED_NAME"/>
	<result property="attachmentType" column="ATTACHMENT_TYPE"/>
	<result property="attchmentTypeNo" column="ATTACHMENT_TYPE_NO"/>
	<result property="attachmentDate" column="ATTACHMENT_DATE"/>
</resultMap>

<resultMap type="com.sevenelite.billbo.profile.model.dto.MemberInfoDTO" id="memberInfoDTO">
	<id property="info_no" column="MEMBER_INFO_NO"/>
	<result property="address" column="MEMBER_ADDRESS"/>
	<result property="account_no" column="MEMBER_ACCOUNT_NO"/>
	<result property="account_bank" column="MEMBER_ACCOUNT_BANK"/>
	<result property="account_host" column="ACCOUNT_HOST"/>
	<result property="fileattachment" column="MEMBER_FILEATTACHMENT"/>
	<result property="enroll_date" column="ENROLL_DATE"/>
	<result property="work_contract" column="MEMBER_WORK_CONTRACT"/>
	<result property="member_no" column="MEMBER_NO"/>
</resultMap>

<resultMap type="com.sevenelite.billbo.allmember.model.dto.MemberAndArmyDTO" id="MemberAndArmyResultMap">
    <id property="memberNo" column="MEMBER_NO"/>
    <result property="name" column="MEMBER_NAME"/>
    <result property="armyClass" column="ARMY_CLASS"/>
    <result property="armyBranch" column="ARMY_BRANCH"/>
    <result property="armyDischarge" column="ARMY_DISCHARGE"/>
    <result property="stratDate" column="ARMY_START"/>
    <result property="endDate" column="ARMY_END"/>
    <result property="armyReason" column="ARMY_REASON"/>
</resultMap>

<resultMap type="com.sevenelite.billbo.allmember.model.dto.MemberAndFamilyDTO" id="MemberAndFamilyResultMap">
    <id property="familyInfoNo" column="FAMILY_INFO_NO"/>
    <result property="familyName" column="FAMILY_NAME"/>
    <result property="familyRelation" column="FAMILY_RELATION"/>
    <result property="familyStudy" column="FAMILY_STUDY"/>
    <result property="familyJob" column="FAMILY_JOB"/>
    <result property="familyGender" column="GENDER"/>
    <result property="memberNo" column="MEMBER_NO"/>
    <result property="email" column="EMAIL"/>
    <result property="phone" column="PHONE"/>
    <result property="familyBirthDay" column="FAMILY_BIRTHDAY"/>
</resultMap>

<resultMap type="com.sevenelite.billbo.allmember.model.dto.CertificateListDTO" id="CertificateListResultMap">
	<id property="memberNo" column="MEMBER_NO"/>
	<result property="memberName" column="MEMBER_NAME"/>
	<result property="emali" column="EMAIL"/>
	<result property="phone" column="PHONE"/>
	<result property="licenseCode" column="LICENSE_CODE_CODE"/>
	<result property="licenseName" column="LICENSE_CODE_NAME"/>
	<result property="licenseDate" column="LICENSE_DATE"/>
	<result property="certificateStartDate" column="CERTIFICATE_START_DATE"/>
	<result property="certificateEndDate" column="CERTIFICATE_END_DATE"/>
	<result property="certificateName" column="CERTIFICATE_NAME"/>
</resultMap>

<resultMap type="com.sevenelite.billbo.allmember.model.dto.MemberAndFinalDTO" id="selectStudyInfoResultMap">
	<id property="memberNo" column="MEMBER_NO"/>
	<result property="memberName" column="MEMBER_NAME"/>
	<result property="pwd" column="MEMBER_PWD"/>	
	<result property="emali" column="EMAIL"/>
	<result property="phone" column="PHONE"/>
	<result property="abilityNo" column="ACADEMIC_ABILITY_NO"/>
	<result property="schoolName" column="SCHOOL_NAME"/>
	<result property="schoolSubject" column="SCHOOL_SUBJECT"/>
	<result property="graduateDate" column="GRADUATE_DATE"/>
	<result property="graduateStatus" column="GRADUATE_STATUS"/>
	<result property="graduateName" column="FINAL_GRADUATE_NAME"/>
	<result property="academicCode" column="ACADEMIC_CODE"/>
	<result property="academicName" column="ACADEMIC_NAME"/>
</resultMap>

<resultMap type="com.sevenelite.billbo.allmember.model.dto.MemberAndCareerDTO" id="MemberAndCareerDTO">
	<id property="carrerNo" column="CAREER_NO"/>
	<result property="careerStart" column="CAREER_START"/>
	<result property="careerEnd" column="CAREER_END"/>
	<result property="carrerPosition" column="CAREER_POSITION"/>
	<result property="memberNo" column="MEMBER_NO"/>
	<result property="memberName" column="MEMBER_NAME"/>
</resultMap>

<select id="selectAllEmployeeList" resultMap="ALlmemberResultMap" parameterType="MemberAndMemberInfoAndDeptAndModifyDeptDTO">
SELECT
     *
         FROM
         (
         SELECT * FROM
         (
         SELECT
       A.MODIFY_DEPT_NO
     , A.MODIFY_DEPT_DATE
     , A.MEMBER_NO
     , T.MEMBER_NAME
     , B.DEPT_CODE
     , ROW_NUMBER() OVER(PARTITION BY A.MEMBER_NO ORDER BY A.MODIFY_DEPT_DATE DESC) 순번
     , B.DEPT_NAME
     , T.PHONE
     , T.EMAIL
     , S.ENROLL_DATE
	FROM BB_MODIFY_DEPT A
    JOIN BB_DEPT B ON (A.DEPT_CODE = B.DEPT_CODE)
    JOIN BB_MEMBER T ON (T.MEMBER_NO = A.MEMBER_NO)
    JOIN BB_MEMBER_INFO S ON (A.MEMBER_NO = S.MEMBER_NO)
    )
    WHERE 순번 =1 ) C
</select>

<select id="detailEmployeeList" resultMap="ALlmemberResultMap" parameterType="MemberAndMemberInfoAndDeptAndModifyDeptDTO">
      SELECT 
        E.MEMBER_NO,
        E.MEMBER_NAME,
        E.EMAIL,
        E.PHONE,
        D.ENROLL_DATE,
        D.MEMBER_ADDRESS,
        C.DEPT_NAME,
        F.FILE_ATTACHMENT_NO,
        F.FILE_ATTACHMENT_PATH,
        F.ORIGINAL_NAME,
        F.SAVED_NAME,
        F.ATTACHMENT_TYPE,
        F.ATTACHMENT_DATE,
        F.ATTACHMENT_TYPE_NO
        FROM(               
             SELECT
                  *
                FROM
           
         (
         SELECT
       A.MODIFY_DEPT_NO
     , A.MODIFY_DEPT_DATE
     , A.MEMBER_NO
     , B.DEPT_CODE
     , ROW_NUMBER() OVER(PARTITION BY A.MEMBER_NO ORDER BY A.MODIFY_DEPT_DATE DESC) 순번
     , B.DEPT_NAME
	FROM BB_MODIFY_DEPT A
    JOIN BB_DEPT B ON (A.DEPT_CODE = B.DEPT_CODE)
    )
    WHERE 순번 =1 ) C
    JOIN BB_MEMBER_INFO D ON (C.MEMBER_NO = D.MEMBER_NO)
    JOIN BB_MEMBER E ON( C.MEMBER_NO = E.MEMBER_NO)
    JOIN BB_FILEATTACHMENT F ON (E.MEMBER_NO = F.MEMBER_NO)
    WHERE E.MEMBER_NO = #{no}
</select>

<select id="selectBankInfo" resultMap="memberInfoDTO" parameterType="MemberInfoDTO">
       SELECT
              A.MEMBER_NO
            , A.MEMBER_ADDRESS
            , A.MEMBER_ACCOUNT_NO
            , A.MEMBER_ACCOUNT_BANK
            , A.ACCOUNT_HOST
        FROM BB_MEMBER_INFO A
       WHERE A.MEMBER_NO = #{no}     
</select>

<select id="selectArmyInfo" resultMap="MemberAndArmyResultMap" parameterType="MemberAndArmyDTO">
       SELECT
              A.MEMBER_NO
            , A.MEMBER_NAME
            , B.ARMY_BRANCH
            , B.ARMY_CLASS
            , B.ARMY_DISCHARGE
            , B.ARMY_START
            , B.ARMY_END
            , B.ARMY_REASON
         FROM BB_MEMBER A
         JOIN BB_ARMY B ON (A.MEMBER_NO = B.MEMBER_NO)
        WHERE A.MEMBER_NO = #{no}     

</select>

<select id="selectFamilyInfo" resultMap="MemberAndFamilyResultMap" parameterType="MemberAndFamilyDTO">
      SELECT
             A.MEMBER_NO
           , A.MEMBER_NAME
           , A.EMAIL
           , A.PHONE
           , B.FAMILY_INFO_NO
           , B.FAMILY_NAME
           , B.FAMILY_RELATION
           , B.FAMILY_BIRTHDAY
           , B.FAMILY_JOB
           , B.FAMILY_STUDY
       FROM BB_MEMBER A
       FULL JOIN BB_FAMILY_INFO B ON (A.MEMBER_NO = B.MEMBER_NO)
      WHERE A.MEMBER_NO = #{no}     
</select>

<select id="selectCertiInfo" resultMap="CertificateListResultMap" parameterType="CertificateListDTO">
      SELECT
              A.MEMBER_NO
            , A.MEMBER_NAME
            , A.EMAIL
            , A.PHONE
            , B.LICENSE_CODE_CODE
            , C.LICENSE_CODE_NAME
            , B.LICENSE_DATE
            , D.CERTIFICATE_CODE
            , E.CERTIFICATE_NAME
            , D.CERTIFICATE_START_DATE
            , D.CERTIFICATE_END_DATE
       FROM BB_MEMBER A
       FULL JOIN BB_LICENSE B ON (A.MEMBER_NO = B.MEMBER_NO)
       FULL JOIN BB_LICENSE_CODE C ON (B.LICENSE_CODE_CODE = C.LICENSE_CODE_CODE)
       FULL JOIN BB_CERTIFICATE D ON (A.MEMBER_NO = D.MEMBER_NO)
       FULL JOIN BB_CERTIFICATE_CODE E ON (E.CERTIFICATE_CODE = D.CERTIFICATE_CODE)
      WHERE A.MEMBER_NO = #{no}        
</select>

<select id="selectStudyInfo" resultMap="selectStudyInfoResultMap" parameterType="MemberAndFinalDTO">
   SELECT
       A.MEMBER_NAME
     , B.SCHOOL_NAME
     , B.SCHOOL_SUBJECT
     , B.GRADUATE_DATE
     , B.GRADUATE_STATUS
     , C.ACADEMIC_NAME
   FROM BB_MEMBER A
   JOIN BB_FINAL_ACADEMIC_ABILITY B ON (A.MEMBER_NO = B.MEMBER_NO)
   JOIN BB_FINAL_ACADEMIC C ON (B.ACADEMIC_CODE = C.ACADEMIC_CODE)
  WHERE B.GRADUATE_STATUS = 'Y'
    AND A.MEMBER_NO = #{no}
</select>

<select id="selectCarrerInfo" resultMap="MemberAndCareerDTO" parameterType="MemberAndCareerDTO">
     SELECT
        A.MEMBER_NAME
      , B.CAREER_POSITION
      , B.CAREER_START
      , B.CAREER_END
  FROM BB_MEMBER A
  JOIN BB_CAREER B ON (A.MEMBER_NO = B.MEMBER_NO)
 WHERE A.MEMBER_NO = #{no} 
</select>
</mapper>