<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sevenelite.billbo.rnp.model.dao.RnpMapper">

<resultMap type="com.sevenelite.billbo.rnp.model.dto.RnpDTO" id="rnpResultMap">
 	<id property="no" column="BONUS_NO"/>
 	<result property="reason" column="BONUS_REASON"/>
 	<result property="enrollDate" column="BONUS_DATE"/>
 	<result property="rnpType" column="BONUS_TYPE"/>
 	<result property="memberNo" column="MEMBER_NO"/>
 	<result property="body" column="BONUS_BODY"/>
</resultMap>
<resultMap type="com.sevenelite.billbo.member.model.dto.MemBbDTO" id="memberResultMap">
		<id property="no" column="MEMBER_NO" />
		<result property="name" column="MEMBER_NAME" />
		<result property="pwd" column="MEMBER_PWD" />
		<result property="email" column="EMAIL" />
		<result property="phone" column="PHONE" />
</resultMap>
<resultMap type="com.sevenelite.billbo.rnp.model.dto.ModifyDeptDTO" id="modifyDeptResultMap">
		<id property="no" column="MEMBER_NO" />
		<result property="name" column="MEMBER_NAME" />
		<result property="pwd" column="MEMBER_PWD" />
		<result property="email" column="EMAIL" />
		<result property="phone" column="PHONE" />
</resultMap>
<resultMap type="com.sevenelite.billbo.profile.model.dto.DeptDTO" id="DeptResultMap">
		<id property="no" column="MEMBER_NO" />
		<result property="name" column="MEMBER_NAME" />
		<result property="pwd" column="MEMBER_PWD" />
		<result property="email" column="EMAIL" />
		<result property="phone" column="PHONE" />
</resultMap>
<resultMap type="com.sevenelite.billbo.rnp.model.dto.ModifyDeptAndMemAndRnpDTO" id="DeptAndMemResultMap">
		<id property="no" column="BONUS_NO" />
		<result property="memNo" column="MEMBER_NO" />
		<result property="body" column="BONUS_BODY" />
		<result property="memName" column="MEMBER_NAME" />
		<result property="deptName" column="DEPT_NAME" />
		<result property="rnpType" column="BONUS_TYPE" />
		<result property="enrollDate" column="BONUS_DATE" />
		<result property="reason" column="BONUS_REASON" />
</resultMap>
 
 <select id="selectRnp" resultMap="DeptAndMemResultMap" >
 SELECT
 		A.BONUS_NO
      , A.MEMBER_NO
      , B.MEMBER_NAME
      , D.DEPT_NAME
      , A.BONUS_TYPE
      , A.BONUS_DATE
      , A.BONUS_REASON
      FROM BB_BONUS A
      JOIN BB_MEMBER B ON ( A.MEMBER_NO = B.MEMBER_NO)
      JOIN BB_MODIFY_DEPT C ON ( B.MEMBER_NO = C.MEMBER_NO)
      JOIN BB_DEPT D ON ( C.DEPT_CODE = D.DEPT_CODE)
 </select>
 
 <select id="detailRnp" resultMap="DeptAndMemResultMap" parameterType="ModifyDeptAndMemAndRnpDTO">
 	SELECT
 	    A.BONUS_NO
 	  , A.BONUS_BODY
 	  ,	A.MEMBER_NO
      , B.MEMBER_NAME
      , D.DEPT_NAME
      , A.BONUS_TYPE
      , A.BONUS_DATE
      , A.BONUS_REASON
    FROM BB_BONUS A
    JOIN BB_MEMBER B ON ( A.MEMBER_NO = B.MEMBER_NO)
    JOIN BB_MODIFY_DEPT C ON ( B.MEMBER_NO = C.MEMBER_NO)
    JOIN BB_DEPT D ON ( C.DEPT_CODE = D.DEPT_CODE)
    WHERE A.BONUS_NO = #{no}
 </select>
 
<insert id="registRnp"  parameterType="RnpDTO">
 INSERT
  INTO BB_BONUS A
  (
  	A.BONUS_NO,
  	A.BONUS_REASON,
  	A.BONUS_DATE,
  	A.BONUS_TYPE,
  	A.BONUS_BODY,
  	A.MEMBER_NO
  )
  VALUES
  (
    SEQ_BONUS_NO.NEXTVAL,
    #{reason},
    SYSDATE,
    #{rnpType},
    #{body},
    3
  )
</insert>

 </mapper>