<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sevenelite.billbo.rnp.model.dao.RnpMapper">

<resultMap type="com.sevenelite.billbo.rnp.model.dto.RnpDTO" id="rnpResultMap">
 	<id property="no" column="BONUS_NO"/>
 	<result property="reason" column="BONUS_REASON"/>
 	<result property="enrollDate" column="BONUS_DATE"/>
 	<result property="rnpType" column="BONUS_TYPE"/>
 	<result property="memberNo" column="MEMBER_NO"/>
 	<result property="body" column="BONUS_BODY"/>
</resultMap>
<resultMap type="com.sevenelite.billbo.member.model.dto.MemBbDTO" id="memberResultMap">
		<id property="no" column="MEMBER_NO" />
		<result property="name" column="MEMBER_NAME" />
		<result property="pwd" column="MEMBER_PWD" />
		<result property="email" column="EMAIL" />
		<result property="phone" column="PHONE" />
</resultMap>
<resultMap type="com.sevenelite.billbo.rnp.model.dto.ModifyDeptDTO" id="modifyDeptResultMap">
		<id property="no" column="MEMBER_NO" />
		<result property="name" column="MEMBER_NAME" />
		<result property="pwd" column="MEMBER_PWD" />
		<result property="email" column="EMAIL" />
		<result property="phone" column="PHONE" />
</resultMap>
<resultMap type="com.sevenelite.billbo.profile.model.dto.DeptDTO" id="DeptResultMap">
		<id property="no" column="MEMBER_NO" />
		<result property="name" column="MEMBER_NAME" />
		<result property="pwd" column="MEMBER_PWD" />
		<result property="email" column="EMAIL" />
		<result property="phone" column="PHONE" />
</resultMap>
<resultMap type="com.sevenelite.billbo.rnp.model.dto.ModifyDeptAndMemAndRnpDTO" id="DeptAndMemResultMap">
		<id property="no" column="BONUS_NO" />
		<result property="memNo" column="MEMBER_NO" />
		<result property="body" column="BONUS_BODY" />
		<result property="memName" column="MEMBER_NAME" />
		<result property="deptName" column="DEPT_NAME" />
		<result property="rnpType" column="BONUS_TYPE" />
		<result property="enrollDate" column="BONUS_DATE" />
		<result property="reason" column="BONUS_REASON" />
</resultMap>
 
 <select id="selectRnp" resultMap="DeptAndMemResultMap" >
      SELECT *
	FROM 
	(
	SELECT *
	FROM
	(
	SELECT 
       A.MODIFY_DEPT_NO
     , A.MODIFY_DEPT_DATE
     , A.MEMBER_NO
     , B.DEPT_CODE
     , ROW_NUMBER() OVER(PARTITION BY A.MEMBER_NO ORDER BY A.MODIFY_DEPT_NO DESC) 순번
     , B.DEPT_NAME
	FROM BB_MODIFY_DEPT A
	JOIN BB_DEPT B ON (A.DEPT_CODE = B.DEPT_CODE)
	) 
	WHERE 순번 = 1) C
	JOIN BB_BONUS D ON (C.MEMBER_NO = D.MEMBER_NO)
	JOIN BB_MEMBER E ON ( C.MEMBER_NO = E.MEMBER_NO)
 </select>
 
 <select id="detailRnp" resultMap="DeptAndMemResultMap" parameterType="ModifyDeptAndMemAndRnpDTO">
 <!-- 	SELECT
 	    A.BONUS_NO
 	  , A.BONUS_BODY
 	  ,	A.MEMBER_NO
      , B.MEMBER_NAME
      , D.DEPT_NAME
      , A.BONUS_TYPE
      , A.BONUS_DATE
      , A.BONUS_REASON
    FROM BB_BONUS A
    JOIN BB_MEMBER B ON ( A.MEMBER_NO = B.MEMBER_NO)
    JOIN BB_MODIFY_DEPT C ON ( B.MEMBER_NO = C.MEMBER_NO)
    JOIN BB_DEPT D ON ( C.DEPT_CODE = D.DEPT_CODE)
    WHERE A.BONUS_NO = #{no} -->
    SELECT
	D.BONUS_NO, 
	C.MEMBER_NO,
	D.BONUS_BODY,
	C.DEPT_NAME,
	E.MEMBER_NAME,
	D.BONUS_REASON,
	D.BONUS_TYPE,
	D.BONUS_DATE
	FROM 
	(
	SELECT *
	FROM
	(
	SELECT 
       A.MODIFY_DEPT_NO
     , A.MODIFY_DEPT_DATE
     , A.MEMBER_NO
     , B.DEPT_CODE
     , ROW_NUMBER() OVER(PARTITION BY A.MEMBER_NO ORDER BY A.MODIFY_DEPT_DATE DESC) 순번
     , B.DEPT_NAME
     , B.DEPT_UPPER
     , B.DEPT_LEVEL
	FROM BB_MODIFY_DEPT A
	JOIN BB_DEPT B ON (A.DEPT_CODE = B.DEPT_CODE)
	) 
	WHERE 순번 = 1) C
	JOIN BB_BONUS D ON (C.MEMBER_NO = D.MEMBER_NO)
	JOIN BB_MEMBER E ON ( C.MEMBER_NO = E.MEMBER_NO)
	WHERE D.BONUS_NO = #{no}
</select>
 
<insert id="registRnp"  parameterType="RnpDTO">
 INSERT
  INTO BB_BONUS A
  (
  	A.BONUS_NO,
  	A.BONUS_REASON,
  	A.BONUS_DATE,
  	A.BONUS_TYPE,
  	A.BONUS_BODY,
  	A.MEMBER_NO
  )
  VALUES
  (
    SEQ_BONUS_NO.NEXTVAL,
    #{reason},
    #{enrollDate},
    #{rnpType},
    #{body},
    #{memberNo}
  )
</insert>

<delete id="deleteRnp" parameterType="RnpDTO">
	DELETE FROM BB_BONUS A
	WHERE A.BONUS_NO = #{no}
</delete>

 </mapper>