<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sevenelite.billbo.profile.model.dao.ProfileMapper">

<resultMap type="com.sevenelite.billbo.profile.model.dto.ArmyDTO" id="armyDTO">
	<id property="army_no" column="ARMY_NO" />
	<result property="branch" column="ARMY_BRANCH"/>
	<result property="army_class" column="ARMY_CLASS"/>
	<result property="service_num" column="ARMY_SERVICE_NUM"/>
	<result property="discharge" column="ARMY_DISCHARGE"/>
	<result property="start" column="ARMY_START"/>
	<result property="end" column="ARMY_END"/>
	<result property="reason" column="ARMY_REASON"/>
	<result property="member_no" column="MEMBER_NO"/>	
</resultMap>

<resultMap type="com.sevenelite.billbo.profile.model.dto.MemberInfoDTO" id="memberInfoDTO">
	<id property="info_no" column="MEMBER_INFO_NO"/>
	<result property="address" column="MEMBER_ADDRESS"/>
	<result property="account_no" column="MEMBER_ACCOUNT_NO"/>
	<result property="account_bank" column="MEMBER_ACCOUNT_BANK"/>
	<result property="account_host" column="ACCOUNT_HOST"/>
	<result property="fileattachment" column="MEMBER_FILEATTACHMENT"/>
	<result property="enroll_date" column="ENROLL_DATE"/>
	<result property="work_contract" column="MEMBER_WORK_CONTRACT"/>
	<result property="member_no" column="MEMBER_NO"/>
</resultMap>

<!-- <resultMap type="com.sevenelite.billbo.profile.model.dto.SpotDTO" id="spotDTO">
	<id property="code" column="SPOT_CODE"/>
	<result property="name" column="SPOT_NAME"/>
</resultMap> -->
<resultMap type="com.sevenelite.billbo.profile.model.dto.ModifySpotDTO" id="modifySpotDTO">
	<id property="spot_no" column="MODIFY_SPOT_NO"/>
	<result property="spot_date" column="MODIFY_SPOT_DATE"/>
	<result property="spot_code" column="SPOT_CODE"/>
	<result property="member_no" column="MEMBER_NO"/>
	
</resultMap>
<resultMap type="com.sevenelite.billbo.profile.model.dto.DeptDTO" id="deptDTO">
	<id property="code" column="DEPT_CODE"/>
	<result property="name" column="DEPT_NAME"/>
	<result property="upper" column="DEPT_UPPER"/>
	<result property="level" column="DEPT_LEVEL"/>
</resultMap>
 
<resultMap type="com.sevenelite.billbo.profile.model.dto.CareerDTO" id="careerDTO">
	<id property="no" column="CAREER_NO"/>
	<result property="start" column="CAREER_START"/>
	<result property="end" column="CAREER_END"/>
	<result property="position" column="CAREER_POSITION"/>
	<result property="member_no" column="MEMBER_NO"/>
</resultMap>

<resultMap type="com.sevenelite.billbo.profile.model.dto.BonusDTO" id="bonusDTO">
	<id property="no" column="BONUS_NO"/>
	<result property="reason" column="BONUS_REASON"/>
	<result property="type" column="BONUS_TYPE"/>
	<result property="member_no" column="MEMBER_NO"/>
	<result property="approve_code" column="APPROVE_CODE"/>
</resultMap>

<resultMap type="com.sevenelite.billbo.member.model.dto.MemBbDTO" id="MemBbDTO">
	<id property="no" column="MEMBER_NO"/>
	<result property="name" column="MEMBER_NAME"/>
	<result property="pwd" column="MEMBER_PWD"/>
	<result property="email" column="EMAIL"/>
	<result property="phone" column="PHONE"/>
</resultMap>

<resultMap type="com.sevenelite.billbo.profile.model.dto.ModifyDeptDTO1" id="modifydeptDTO1">
	<id property="modifyDeptNo" column="MODIFY_DEPT_NO"/>
	<result property="modifydate" column="MODIFY_DEPT_DATE"/>
	<result property="deptCode" column="DEPT_CODE"/>
	<result property="memberNo" column="MEMBER_NO"/>
</resultMap>
<resultMap type="com.sevenelite.billbo.profile.model.dto.LicenseDTO" id="licenseDTO">
	<id property="no" column="LICENSE_NO"/>
	<result property="date" column="LICENSE_DATE"/>
	<result property="member_no" column="MEMBER_NO"/>
	<result property="code" column="LICENSE_CODE_CODE"/>
	</resultMap>
 <resultMap type="com.sevenelite.billbo.profile.model.dto.CertificateDTO" id="certificateDTO">
	<id property="no" column= "CERTIFICATE_NO" />
	<result property="start_date" column= "CERTIFICATE_START_DATE"/>
	<result property="end_date" column= "CERTIFICATE_END_DATE"/>
	<result property="member_no" column= "MEMBER_NO"/>
	<result property="certificate_code" column= "CERTIFICATE_CODE"/>
	
</resultMap>
 <resultMap type="com.sevenelite.billbo.profile.model.dto.FinalAcademicDTO" id="finalAcademicDTO">
	<id property="ability_no" column= "ACADEMIC_ABILITY_NO" />
	<result property="name" column= "SCHOOL_NAME"/>
	<result property="subject" column= "SCHOOL_SUBJECT"/>
	<result property="date" column= "GRADUATE_DATE"/>
	<result property="graduate_status" column= "GRADUATE_STATUS"/>
	<result property="graduate_name" column= "FINAL_GRADUATE_NAME"/>
	<result property="member_no" column= "MEMBER_NO"/>
	<result property="code" column= "ACADEMIC_CODE"/>
	
</resultMap>

 <resultMap type="com.sevenelite.billbo.profile.model.dto.FamilyDTO" id="familyDTO">
	<id property="info_no" column="FAMILY_INFO_NO"/>
	<result property="name" column="FAMILY_NAME"/>
	<result property="relation" column="FAMILY_RELATION"/>
	<result property="gender" column="GENDER"/>
	<result property="birthday" column="FAMILY_BIRTHDAY"/>
	<result property="study" column="FAMILY_STUDY"/>
	<result property="job" column="FAMILY_JOB"/>
	<result property="no" column="MEMBER_NO"/>
	</resultMap>
<insert id="armyInfo" parameterType="ArmyDTO">
	INSERT
	INTO BB_ARMY(
         ARMY_NO
       , MEMBER_NO
       , ARMY_BRANCH
       , ARMY_CLASS
       , ARMY_SERVICE_NUM
       , ARMY_DISCHARGE
       , ARMY_START
       , ARMY_END
       , ARMY_REASON
    )
    VALUES
    (
    SEQ_ARMY_NO.NEXTVAL
    , #{member_no}
    , #{branch}
    , #{army_class}
    , #{service_num}
    , #{discharge} 
    , #{start}
    , #{end}
    , #{reason}
    )
</insert>

 <insert id="memberInfo" parameterType="MemberInfoDTO">     <!--  ************  -->
	INSERT
	 INTO BB_MEMBER_INFO(
	      MEMBER_INFO_NO
	    , MEMBER_ADDRESS
	    , MEMBER_ACCOUNT_NO
	    , MEMBER_ACCOUNT_BANK
	    , ACCOUNT_HOST
	    , MEMBER_FILEATTACHMENT
	    , ENROLL_DATE
	    , MEMBER_WORK_CONTRACT
	    , MEMBER_NO
	    )
	    VALUES
	    (
	      SEQ_MEMBER_INFO_NO.NEXTVAL
	    , #{address}
	    , #{account_no}
	    , #{account_bank}
	    , #{account_host}
	    , #{fileattachment}
	    , #{enroll_date}
	    , #{work_contract}
	    , #{member_no}
	    )
</insert>


<select id="selectMemberInfo" parameterType="MemberInfoDTO" resultMap="memberInfoDTO">
   SELECT
    	  A.RNUM 
        , A.MEMBER_INFO_NO
	    , A.MEMBER_ADDRESS
	    , A.MEMBER_ACCOUNT_NO
	    , A.MEMBER_ACCOUNT_BANK
	    , A.ACCOUNT_HOST
	    , A.MEMBER_FILEATTACHMENT
	    , A.ENROLL_DATE
	    , A.MEMBER_WORK_CONTRACT
	    , A.MEMBER_NO
	FROM (SELECT ROWNUM RNUM
		        , B.MEMBER_INFO_NO
		        , B.MEMBER_ADDRESS
	            , B.MEMBER_ACCOUNT_NO
	            , B.MEMBER_ACCOUNT_BANK
	            , B.ACCOUNT_HOST
	            , B.MEMBER_FILEATTACHMENT
	            , B.ENROLL_DATE
	            , B.MEMBER_WORK_CONTRACT
	            , B.MEMBER_NO
	        FROM (SELECT  C.MEMBER_INFO_NO
		                 , C.MEMBER_ADDRESS
	                     , C.MEMBER_ACCOUNT_NO
	                     , C.MEMBER_ACCOUNT_BANK
	                     , C.ACCOUNT_HOST
	                     , C.MEMBER_FILEATTACHMENT
	                     , C.ENROLL_DATE
	                     , C.MEMBER_WORK_CONTRACT
	                     , D.MEMBER_NO 
	                  FROM BB_MEMBER_INFO C
	                  JOIN BB_MEMBER D ON(C.MEMBER_NO = D.MEMBER_NO)
	                  WHERE D.MEMBER_NO = #{ member_no }
	                  ORDER BY MEMBER_INFO_NO DESC
	                  ) B
	                  ) A
	                  WHERE RNUM = 1
</select>


	<!-- BB_MEMBER_INFO A
    WHERE A.MEMBER_INFO_NO = #{ member_no } -->
<select id="member" parameterType="MemberInfoDTO" resultMap="memberInfoDTO">
    SELECT
          A.MEMBER_INFO_NO
	    , A.MEMBER_ADDRESS
	    , A.MEMBER_ACCOUNT_NO
	    , A.MEMBER_ACCOUNT_BANK
	    , A.ACCOUNT_HOST
	    , A.MEMBER_FILEATTACHMENT
	    , A.ENROLL_DATE
	    , A.MEMBER_WORK_CONTRACT
	    , A.MEMBER_NO
	FROM BB_MEMBER_INFO A
    
</select>
<insert id="modifyspot" parameterType="ModifySpotDTO">
	INSERT
	  INTO BB_MODIFY_SPOT(
	       MODIFY_SPOT_NO
	     , MODIFY_SPOT_DATE
	     , SPOT_CODE
	     , MEMBER_NO
	  )
	  VALUES
	  (
	   SEQ_MODIFY_SPOT_NO.NEXTVAL
	  , #{spot_date}
	  , #{spot_code}
	  , #{member_no}
	  )
</insert>
	
	
<insert id="dept" parameterType="DeptDTO">
	INSERT
	  INTO BB_DEPT(
	       DEPT_CODE
	     , DEPT_NAME
	     , DEPT_UPPER
	     , DEPT_LEVEL
	  )
	  VALUES
	  (
	   #{code}
	  ,#{name}
	  ,#{upper}
	  ,#{level}
	   )
</insert>
<insert id="modifydept" parameterType="ModifyDeptDTO1">
	INSERT
	  INTO BB_MODIFY_DEPT (
	       MODIFY_DEPT_NO
	     , MODIFY_DEPT_DATE
	     , DEPT_CODE
	     , MEMBER_NO
	     )
	     VALUES
	     (
	     SEQ_MODIFY_DEPT_NO.NEXTVAL
	     ,#{modifydate}
	     ,#{deptCode}
	     ,#{memberNo}
	     )
</insert>
<insert id="career" parameterType="CareerDTO">
	INSERT
	  INTO BB_CAREER(
	       CAREER_NO
	     , CAREER_START
	     , CAREER_END
	     , CAREER_POSITION
	  	 , MEMBER_NO
	  )
	  VALUES
	  (
	  SEQ_CAREER_NO.NEXTVAL
	  ,#{start}
	  ,#{end}
	  ,#{position}
	  ,#{member_no}
	  
	  )
</insert>

 <insert id="bonusInsert" parameterType="bonusDTO">
	INSERT
	  INTO BB_BONUS(
	       BONUS_NO
	     , BONUS_REASON
	     , BONUS_DATE
	     , BONUS_TYPE
	     , BONUS_BODY
	     , MEMBER_NO
	     , APPROVE_CODE
	  )
	 VALUES
	 (
	 SEQ_BONUS_NO.NEXTVAL
	 ,#{reason}
	 ,#{date}
	 ,#{type}
	 ,#{body}
	 ,#{member_no}
	 ,#{approve_code}
	 )
</insert>
	
 <insert id="certificate" parameterType="CertificateDTO">
 	INSERT
 	  INTO BB_CERTIFICATE(
 	       CERTIFICATE_NO
 	     , CERTIFICATE_START_DATE
 	     , CERTIFICATE_END_DATE
 	     , MEMBER_NO
 	     , CERTIFICATE_CODE  
 	  )
 	  VALUES
 	  (
 	  SEQ_CERTIFICATE_NO.NEXTVAL
 	  ,#{start_date}
 	  ,#{end_date}
 	  ,#{member_no}
 	  ,#{certificate_code}
 	  )
 </insert>
 
 <insert id="finalAcademic" parameterType="FinalAcademicDTO">
  	INSERT
  	  INTO BB_FINAL_ACADEMIC_ABILITY(
  	  	   ACADEMIC_ABILITY_NO
  	  	 , SCHOOL_NAME
  	  	 , SCHOOL_SUBJECT
  	  	 , GRADUATE_DATE
  	  	 , GRADUATE_STATUS
  	  	 , FINAL_GRADUATE_NAME
  	  	 , MEMBER_NO
  	  	 , ACADEMIC_CODE
  	  )
  	  VALUES
  	  (
  	  SEQ_ACADEMIC_ABILITY_NO.NEXTVAL
  	  ,#{name}
  	  ,#{subject}
  	  ,#{date}
  	  ,#{graduate_status}
  	  ,#{graduate_name}
	  ,#{member_no}
  	  ,#{code}
  	  )
  	  </insert> 
  	  
<insert id="family" parameterType="FamilyDTO">
 	INSERT
 	  INTO BB_FAMILY_INFO(
 	       FAMILY_INFO_NO
 	     , FAMILY_NAME
 	     , FAMILY_RELATION
 	     , GENDER
 	     , FAMILY_BIRTHDAY
 	     , FAMILY_STUDY
 	     , FAMILY_JOB
 	     , MEMBER_NO  
 	    )
 	    VALUES
 	    (
 	    SEQ_FAMILY_INFO_NO.NEXTVAL
 	    ,#{name}
 	    ,#{relation}
 	    ,#{gender}
 	    ,#{birthday}
 	    ,#{study}
 	    ,#{job}
 	    ,#{no}
 	    )
 </insert>
  	   
<insert id="license" parameterType="LicenseDTO">
	INSERT
	  INTO BB_LICENSE(
	       LICENSE_NO
	     , LICENSE_DATE
	     , MEMBER_NO
	     , LICENSE_CODE_CODE
	  )
	  VALUES
	  (
	    SEQ_LICENSE_NO.NEXTVAL  
	  , #{date}
	  , #{member_no}
	  , #{code}
	  )
</insert>


<!-- 

 <select id="member_info_phone" resultMap="MemBbDTO" parameterType="MemBbDTO">
SELECT 
	  MEMBER_NO
    , MEMBER_NAME
    , MEMBER_PWD
    , EMAIL   
	, PHONE
	  FROM BB_MEMBER
	 WHERE MEMBER_NO  = #{ member_no }
	  WHERE MEMBER_NO = #{no}
</select>

 <select id="member_enrollDate" resultMap="MemDTO" parameterType="MemDTO">
	SELECT 
	       ENROLL_DATE
	  FROM BB_MEMBER_INFO
	 WHERE MEMBER_NO = #{ member_no }
</select> -->
 
 <select id="member_name" resultMap="deptDTO" parameterType="DeptDTO">
 	SELECT
             D.DEPT_NAME
            
        FROM BB_MEMBER A
        JOIN BB_MODIFY_DEPT B ON ( A.MEMBER_NO = B.MEMBER_NO)
        JOIN BB_DEPT D ON( B.DEPT_CODE = D.DEPT_CODE)
        WHERE A.MEMBER_NO = #{ member_no }
 </select>

<select id="mainProfile" resultMap="deptDTO" parameterType="DeptDTO">
SELECT
             D.DEPT_NAME
            
        FROM BB_MEMBER A
</select>
<select id="selectMemberDept" resultMap="deptDTO" parameterType="DeptDTO">
       SELECT
              D.DEPT_CODE
            , D.DEPT_NAME
            , D.DEPT_UPPER
            , D.DEPT_LEVEL
        
        FROM BB_MEMBER A
        JOIN BB_MODIFY_DEPT B ON ( A.MEMBER_NO = B.MEMBER_NO)
        JOIN BB_DEPT D ON( B.DEPT_CODE = D.DEPT_CODE)
</select>
<select id="selectMemberDetail" resultMap="MemBbDTO" parameterType="MemBbDTO">
SELECT
	   A.RNUM
     , A.MEMBER_NO
     , A.MEMBER_NAME
     , A.MEMBER_PWD
     , A.EMAIL
     , A.PHONE
  FROM (SELECT ROWNUM RNUM
             , B.MEMBER_NO
             , B.MEMBER_NAME
             , B.MEMBER_PWD
             , B.EMAIL
             , B.PHONE   
          FROM (SELECT  C.MEMBER_NO
                      , C.MEMBER_NAME
                      , C.MEMBER_PWD
                      , C.EMAIL
                      , C.PHONE     
                   FROM BB_MEMBER C
                  WHERE C.MEMBER_NO = #{ member_no } 
                  ORDER BY PHONE DESC
     )B
  ) A
  WHERE RNUM = 1 
</select>

 <select id="selectModifyDept" resultMap="modifydeptDTO1" parameterType="ModifyDeptDTO1">
	SELECT
                A.RNUM
              , A.MODIFY_DEPT_NO
              , A.MODIFY_DEPT_DATE
              , A.DEPT_CODE
              , A.MEMBER_NO
        FROM (SELECT ROWNUM RNUM
              , B.MODIFY_DEPT_NO
              , B.MODIFY_DEPT_DATE
              , B.DEPT_CODE
              , B.MEMBER_NO
         FROM (SELECT C.MODIFY_DEPT_NO
                    , C.MODIFY_DEPT_DATE
                    , D.DEPT_CODE
                    , E.MEMBER_NO
                 FROM BB_MODIFY_DEPT C
                 JOIN BB_MEMBER E ON (C.MEMBER_NO = E.MEMBER_NO)
                 JOIN BB_DEPT D ON (C.DEPT_CODE = D.DEPT_CODE)
                WHERE E.MEMBER_NO = #{ member_no }
                ORDER BY MODIFY_DEPT_NO DESC
         )B
         )A
         WHERE RNUM = 1

</select>
<select id="selectspot" resultMap="modifySpotDTO" parameterType="ModifySpotDTO">
   SELECT
   			
               A.MODIFY_SPOT_NO
              , A.MODIFY_SPOT_DATE
              , A.SPOT_CODE
              , A.MEMBER_NO
        FROM (SELECT ROWNUM RNUM
              , B.MODIFY_SPOT_NO
              , B.MODIFY_SPOT_DATE
              , B.SPOT_CODE
              , B.MEMBER_NO
         FROM (SELECT C.MODIFY_SPOT_NO
                    , C.MODIFY_SPOT_DATE
                    , D.SPOT_CODE
                    , E.MEMBER_NO
                 FROM BB_MODIFY_SPOT C
                 JOIN BB_MEMBER E ON (C.MEMBER_NO = E.MEMBER_NO)
                 JOIN BB_SPOT D ON (C.SPOT_CODE = D.SPOT_CODE)
                WHERE E.MEMBER_NO = #{ member_no }
                ORDER BY MODIFY_SPOT_NO DESC
         )B
         )A
         WHERE RNUM = 1
</select>

<select id="careerSelect" resultMap="careerDTO" parameterType="CareerDTO">
  
   SELECT
    	  A.RNUM 
        , A.CAREER_NO
	    , A.CAREER_START
	    , A.CAREER_END
	    , A.CAREER_POSITION
	    , A.MEMBER_NO
	FROM (SELECT ROWNUM RNUM
		        , B.CAREER_NO
		        , B.CAREER_START
	            , B.CAREER_END
	            , B.CAREER_POSITION
	            , B.MEMBER_NO
             FROM (SELECT  C.CAREER_NO
		                 , C.CAREER_START
                         , C.CAREER_END
	                     , C.CAREER_POSITION
	                     , D.MEMBER_NO
	                  FROM BB_CAREER C
	                  JOIN BB_MEMBER D ON(C.MEMBER_NO = D.MEMBER_NO)
	                  WHERE D.MEMBER_NO = #{ member_no }
	                  ORDER BY CAREER_NO DESC
	                  ) B
	                  ) A
	                  WHERE RNUM = 1
         


</select>

<select id="bonus" resultMap="bonusDTO" parameterType="BonusDTO">
   SELECT
    	  A.BONUS_NO
        , A.BONUS_REASON
	    , A.BONUS_DATE
        , A.BONUS_TYPE
        , A.BONUS_BODY
        , A.MEMBER_NO
        , A.APPROVE_CODE
	    FROM (SELECT ROWNUM RNUM
		        , B.BONUS_NO
		        , B.BONUS_REASON
	            , B.BONUS_DATE
                , B.BONUS_TYPE
	            , B.BONUS_BODY
	            , B.MEMBER_NO
                , B.APPROVE_CODE
             FROM (SELECT  C.BONUS_NO
		                 , C.BONUS_REASON
                         , C.BONUS_DATE
	                     , C.BONUS_TYPE
	                     , C.BONUS_BODY
                         , D.MEMBER_NO
                         , E.APPROVE_CODE
	                  FROM BB_BONUS C
	                  JOIN BB_MEMBER D ON(C.MEMBER_NO = D.MEMBER_NO)
                      LEFT JOIN BB_APPROVE E ON(C.APPROVE_CODE = E.APPROVE_CODE)
	                  WHERE D.MEMBER_NO = #{ member_no }
	                  ORDER BY MEMBER_NO DESC
	                  ) B
	                  ) A
	                  WHERE RNUM = 1
        
</select>
  <select id="selectLicense" resultMap="licenseDTO" parameterType="LicenseDTO">
    SELECT
    	  A.LICENSE_NO
        , A.LICENSE_DATE
	    , A.MEMBER_NO
        , A.LICENSE_CODE_CODE
        FROM (SELECT ROWNUM RNUM
		        , B.LICENSE_NO
	            , B.LICENSE_DATE
                , B.MEMBER_NO
	            , B.LICENSE_CODE_CODE
             FROM (SELECT  C.LICENSE_NO
		                 , C.LICENSE_DATE
                         , D.MEMBER_NO
	                     , E.LICENSE_CODE_CODE
	                    FROM BB_LICENSE C
	                  JOIN BB_MEMBER D ON(C.MEMBER_NO = D.MEMBER_NO)
                      LEFT JOIN BB_LICENSE_CODE E ON(C.LICENSE_CODE_CODE = E.LICENSE_CODE_CODE)
	                  WHERE D.MEMBER_NO = #{ member_no }
	                  ORDER BY LICENSE_NO DESC
	                  ) B
	                  ) A
	                  WHERE RNUM = 1 
         
 </select>
 
  <select id="certificateInsert" resultMap="certificateDTO" parameterType="CertificateDTO">
   SELECT
    	  A.CERTIFICATE_NO
        , A.CERTIFICATE_START_DATE
	    , A.CERTIFICATE_END_DATE
        , A.MEMBER_NO
        , A.CERTIFICATE_CODE
        FROM (SELECT ROWNUM RNUM
		        , B.CERTIFICATE_NO
	            , B.CERTIFICATE_START_DATE
                , B.CERTIFICATE_END_DATE
	            , B.MEMBER_NO
                , B.CERTIFICATE_CODE
             FROM (SELECT  C.CERTIFICATE_NO
		                 , C.CERTIFICATE_START_DATE
                         , C.CERTIFICATE_END_DATE
	                     , D.MEMBER_NO
                         , E.CERTIFICATE_CODE
	                    FROM BB_CERTIFICATE C
	                  JOIN BB_MEMBER D ON(C.MEMBER_NO = D.MEMBER_NO)
                      LEFT JOIN BB_CERTIFICATE_CODE E ON(C.CERTIFICATE_CODE = E.CERTIFICATE_CODE)
	                  WHERE D.MEMBER_NO = #{ member_no }
	                  ORDER BY CERTIFICATE_NO DESC
	                  ) B
	                  ) A
	                  WHERE RNUM = 1
	              </select>
	              <!-- *********************************************88888 -->
	              <select id="selectCertificate" resultMap="certificateDTO" parameterType="CertificateDTO">
   SELECT
    	  A.CERTIFICATE_NO
        , A.CERTIFICATE_START_DATE
	    , A.CERTIFICATE_END_DATE
        , A.MEMBER_NO
        , A.CERTIFICATE_CODE
        FROM (SELECT ROWNUM RNUM
		        , B.CERTIFICATE_NO
	            , B.CERTIFICATE_START_DATE
                , B.CERTIFICATE_END_DATE
	            , B.MEMBER_NO
                , B.CERTIFICATE_CODE
             FROM (SELECT  C.CERTIFICATE_NO
		                 , C.CERTIFICATE_START_DATE
                         , C.CERTIFICATE_END_DATE
	                     , D.MEMBER_NO
                         , E.CERTIFICATE_CODE
	                    FROM BB_CERTIFICATE C
	                  JOIN BB_MEMBER D ON(C.MEMBER_NO = D.MEMBER_NO)
                      LEFT JOIN BB_CERTIFICATE_CODE E ON(C.CERTIFICATE_CODE = E.CERTIFICATE_CODE)
	                  WHERE D.MEMBER_NO = #{ member_no }
	                  ORDER BY MEMBER_NO DESC
	                  ) B
	                  ) A
	                  WHERE RNUM = 1
	              </select>
	              
	              
	              
	      <select id="armySelect" resultMap="armyDTO" parameterType="ArmyDTO">
  
	       SELECT
    	  A.ARMY_NO
        , A.ARMY_BRANCH
	    , A.ARMY_CLASS
        , A.ARMY_SERVICE_NUM
	    , A.ARMY_DISCHARGE
        , A.ARMY_START
	    , A.ARMY_END
        , A.ARMY_REASON
        , A.MEMBER_NO
        FROM (SELECT ROWNUM RNUM
		       , B.ARMY_NO
               , B.ARMY_BRANCH
	           , B.ARMY_CLASS
               , B.ARMY_SERVICE_NUM
	           , B.ARMY_DISCHARGE
               , B.ARMY_START
	           , B.ARMY_END
               , B.ARMY_REASON
               , B.MEMBER_NO
             FROM (SELECT  C.ARMY_NO
                         , C.ARMY_BRANCH
	                     , C.ARMY_CLASS
                         , C.ARMY_SERVICE_NUM
                         , C.ARMY_DISCHARGE
                         , C.ARMY_START
	                     , C.ARMY_END
                         , C.ARMY_REASON
                         , D.MEMBER_NO
	                    FROM BB_ARMY C
	                  JOIN BB_MEMBER D ON(C.MEMBER_NO = D.MEMBER_NO)
                      WHERE D.MEMBER_NO = #{ member.no }
	                  ORDER BY ARMY_NO DESC
	                  ) B
	                  ) A
	                  WHERE RNUM = 1 
          </select>  
         
         
      <select id="academic" resultMap="finalAcademicDTO" parameterType="FinalAcademicDTO">
         SELECT
    	  A.ACADEMIC_ABILITY_NO
        , A.SCHOOL_NAME
	    , A.SCHOOL_SUBJECT
        , A.GRADUATE_DATE
	    , A.GRADUATE_STATUS
        , A.FINAL_GRADUATE_NAME
	    , A.MEMBER_NO
        , A.ACADEMIC_CODE
        FROM (SELECT ROWNUM RNUM
		       , B.ACADEMIC_ABILITY_NO
               , B.SCHOOL_NAME
	           , B.SCHOOL_SUBJECT
               , B.GRADUATE_DATE
	           , B.GRADUATE_STATUS
               , B.FINAL_GRADUATE_NAME
	           , B.MEMBER_NO
               , B.ACADEMIC_CODE
             FROM (SELECT  C.ACADEMIC_ABILITY_NO
                         , C.SCHOOL_NAME
	                     , C.SCHOOL_SUBJECT
                         , C.GRADUATE_DATE
                         , C.GRADUATE_STATUS
                         , C.FINAL_GRADUATE_NAME
	                     , D.MEMBER_NO
                         , E.ACADEMIC_CODE
	                    FROM BB_FINAL_ACADEMIC_ABILITY C
	                  JOIN BB_MEMBER D ON(C.MEMBER_NO = D.MEMBER_NO)
                      JOIN BB_FINAL_ACADEMIC E ON(C.ACADEMIC_CODE = E.ACADEMIC_CODE)
                      WHERE D.MEMBER_NO = #{ member_no }
	                  ORDER BY MEMBER_NO DESC
	                  ) B
	                  ) A
	                  WHERE RNUM = 1 
         
        </select> 
	         
       <select id="familySelect" resultMap="familyDTO" parameterType="FamilyDTO">
   SELECT
    	  A.FAMILY_INFO_NO
        , A.FAMILY_NAME
	    , A.FAMILY_RELATION
        , A.GENDER
	    , A.FAMILY_BIRTHDAY
        , A.FAMILY_STUDY
	    , A.FAMILY_JOB
        , A.MEMBER_NO
        FROM (SELECT ROWNUM RNUM
		       , B.FAMILY_INFO_NO
               , B.FAMILY_NAME
	           , B.FAMILY_RELATION
               , B.GENDER
	           , B.FAMILY_BIRTHDAY
               , B.FAMILY_STUDY
	           , B.FAMILY_JOB
               , B.MEMBER_NO
             FROM (SELECT  C.FAMILY_INFO_NO
                         , C.FAMILY_NAME
	                     , C.FAMILY_RELATION
                         , C.GENDER
                         , C.FAMILY_BIRTHDAY
                         , C.FAMILY_STUDY
	                     , C.FAMILY_JOB
                         , D.MEMBER_NO
	                    FROM BB_FAMILY_INFO C
	                  JOIN BB_MEMBER D ON(C.MEMBER_NO = D.MEMBER_NO)
                      WHERE D.MEMBER_NO = #{ member_no }
	                  ORDER BY MEMBER_NO DESC
	                  ) B
	                  ) A
	                  WHERE RNUM = 1
		</select> 
		<select id="viewAllInfo" parameterType="MemberInfoDTO" resultMap="memberInfoDTO">
         SELECT
          A.MEMBER_INFO_NO
	    , A.MEMBER_ADDRESS
	    , A.MEMBER_ACCOUNT_NO
	    , A.MEMBER_ACCOUNT_BANK
	    , A.ACCOUNT_HOST
	    , A.MEMBER_FILEATTACHMENT
	    , A.ENROLL_DATE
	    , A.MEMBER_WORK_CONTRACT
	    , A.MEMBER_NO
	                  FROM BB_MEMBER_INFO A
                      WHERE MEMBER_NO = #{ member_no }
</select>
<select id="viewMemberDept" resultMap="modifydeptDTO1" parameterType="ModifyDeptDTO1">
	   SELECT
                A.MODIFY_DEPT_NO
              , A.MODIFY_DEPT_DATE
              , A.DEPT_CODE
              , A.MEMBER_NO
        FROM  BB_MODIFY_DEPT A
                  WHERE MEMBER_NO = #{ member_no }
    
</select>
<!-- 직위 이력 조회 위한 쿼리 -->		
<select id="viewModispotDto" resultMap="modifySpotDTO" parameterType="ModifySpotDTO">
         SELECT
                MODIFY_SPOT_NO
              , MODIFY_SPOT_DATE
              , SPOT_CODE
              , MEMBER_NO
        FROM BB_MODIFY_SPOT 
      WHERE MEMBER_NO = #{ member_no }
</select>

<select id="viewCareerDto" resultMap="careerDTO" parameterType="CareerDTO">
  
   SELECT
          A.CAREER_NO
	    , A.CAREER_START
	    , A.CAREER_END
	    , A.CAREER_POSITION
	    , A.MEMBER_NO
	FROM BB_CAREER A
   WHERE MEMBER_NO = #{ member_no }
</select>

<select id="viewBonusDto" resultMap="bonusDTO" parameterType="BonusDTO">
   SELECT
    	  BONUS_NO
        , BONUS_REASON
	    , BONUS_DATE
        , BONUS_TYPE
        , BONUS_BODY
        , MEMBER_NO
        , APPROVE_CODE
     FROM BB_BONUS 
    WHERE MEMBER_NO = #{ member_no } 
        
</select>
<select id="viewCertificateInsert" resultMap="certificateDTO" parameterType="CertificateDTO">
   SELECT
    	  CERTIFICATE_NO
        , CERTIFICATE_START_DATE
	    , CERTIFICATE_END_DATE
        , MEMBER_NO
        , CERTIFICATE_CODE
     FROM BB_CERTIFICATE 
	WHERE MEMBER_NO = #{ member_no }                 
</select>
    <select id="viewArmySelect" resultMap="armyDTO" parameterType="ArmyDTO">
   SELECT
    	  ARMY_NO
        , ARMY_BRANCH
	    , ARMY_CLASS
        , ARMY_SERVICE_NUM
	    , ARMY_DISCHARGE
        , ARMY_START
	    , ARMY_END
        , ARMY_REASON
        , MEMBER_NO
     FROM BB_ARMY 
	WHERE MEMBER_NO = #{ member_no }              
          </select>  

  <select id="viewAcademic" resultMap="finalAcademicDTO" parameterType="FinalAcademicDTO">
   SELECT
    	  ACADEMIC_ABILITY_NO
        , SCHOOL_NAME
	    , SCHOOL_SUBJECT
        , GRADUATE_DATE
	    , GRADUATE_STATUS
        , FINAL_GRADUATE_NAME
	    , MEMBER_NO
        , ACADEMIC_CODE
     FROM BB_FINAL_ACADEMIC_ABILITY
	WHERE MEMBER_NO = #{ member_no }     
</select> 
     <select id="viewFamilySelect" resultMap="familyDTO" parameterType="FamilyDTO">
   SELECT
    	  FAMILY_INFO_NO
        , FAMILY_NAME
	    , FAMILY_RELATION
        , GENDER
	    , FAMILY_BIRTHDAY
        , FAMILY_STUDY
	    , FAMILY_JOB
        , MEMBER_NO
     FROM BB_FAMILY_INFO
    WHERE MEMBER_NO = #{ member_no }  
</select> 
<select id="viewLicenseDto" resultMap="licenseDTO" parameterType="LicenseDTO">
   SELECT
    	  LICENSE_NO
        , LICENSE_DATE
	    , MEMBER_NO
        , LICENSE_CODE_CODE
     FROM BB_LICENSE
    WHERE MEMBER_NO = #{ member_no }
	             
 </select>
 

</mapper>