<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sevenelite.billbo.profile.model.dao.ProfileMapper">

<resultMap type="com.sevenelite.billbo.profile.model.dto.ArmyDTO" id="rmyDTO">
	<id property="no" column="ARMY_NO" />
	<result property="branch" column="ARMY_BRANCH"/>
	<result property="army_class" column="ARMY_CLASS"/>
	<result property="service_num" column="ARMY_SERVICE_NUM"/>
	<result property="discharge" column="ARMY_DISCHARGE"/>
	<result property="start" column="ARMY_START"/>
	<result property="end" column="ARMY_END"/>
	<result property="reason" column="ARMY_REASON"/>
	<result property="member_no" column="MEMBER_NO"/>	
</resultMap>

<insert id="armyInfo" parameterType="ArmyDTO">
	INSERT
	INTO BB_ARMY(
         ARMY_NO
       , MEMBER_NO
       , ARMY_BRANCH
       , ARMY_CLASS
       , ARMY_SERVICE_NUM
       , ARMY_DISCHARGE
       , ARMY_START
       , ARMY_END
       , ARMY_REASON
    )
    VALUES
    (
    SEQ_ARMY_NO.NEXTVAL
    , #{member_no}
    , #{branch}
    , #{army_class}
    , #{service_num}
    , #{discharge} 
    , SYSDATE
    , SYSDATE
    , #{reason}
    )
</insert>

<!-- <insert id="memberInfo" parameterType="MemberInfoDTO">


</insert> -->
</mapper>